# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Environment
.env
*.env.local

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Deployment artifacts
*.tar.gz
apk-output/

a.pem
*.pem
